<template>
  <div class="q-pa-md q-gutter-lg">
    <card-desktop
      :content="content"
      :title="title"
      :amount="amount"
      class="desktop-only"
    ></card-desktop>
    <card-mobile
      :content="content"
      :title="title"
      :amount="amount"
      class="mobile-only"
    ></card-mobile>
    <money />
  </div>
</template>

<script>
import CardMobile from "src/components/CardMobile.vue";
import CardDesktop from "src/components/CardDesktop.vue";
import Money from "src/components/Money.vue";

export default {
  components: { CardMobile, CardDesktop, Money },
  name: "DonatePage",
  setup() {
    const amount = 30;
    const title = "25 for 25!";
    const content =
      "In 2021 KDE is celebrating 25 years of existence. Now we want more. Help us to get to 50 years!";
    return {
      amount,
      title,
      content,
    };
  },
};
</script>
